# print() Function
outputs a specified object to the screen
#### Default behaviour:
to inset a new line character after the print statement runs
#### Override default behaviour:
To override the insertion of the new line character and replace it with a space, add `end=" "` as the last item in the `print()` parameters.

In [1]:
month = "September"
print("Investigate failed login attempts during", month, "if more than", 100)

Investigate failed login attempts during September if more than 100

In [2]:
# default behavior
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
# override end character with a space
for i in range(5):
    print(i, end=" ")

0 1 2 3 4

# type()
returns the data type of its argument

In [4]:
print(type("This is a string"))

<class 'str'>

# Type Conversion Functions
- `str()` - converts a value (often numeric) to a string data type
- `int()` - converts a value (usually a float) to an integer data type
- `float()` - converts a value (usually an integer) to a float data type

 # sorted()
sorts the components of any iterable

In [5]:
time_list = [12, 2, 32, 19, 57, 22, 14]
print(sorted(time_list))

[2, 12, 14, 19, 22, 32, 57]

# max() and min()
works on numeric values or an iterable
- `max()` -- returns the largest numeric input passed into it
- `min()` -- returns the smallest numeric input passed into it

In [6]:
time_list = [12, 2, 32, 19, 57, 22, 14]
print(min(time_list))
print(max(time_list))

2
57

In [7]:
word_list = ["apple", "banana", "cherry", "date"]
print(min(word_list))
print(max(word_list))

apple
date

# round()
rounds a number to a specified number of decimal places

In [8]:
print(round(3.14159, 2))
print(round(3.14559, 2))
print(round(3.14959, 2))

3.14
3.15
3.15