# Strings
A data type in python
- should be wrapped inside single quotes (`'abc'`) or double (`"abc"`) quotes

Sequences of characters | Immutable | sequential textual data

In [89]:
x = ""
print(type(x))
y = str()
print(type(y))

<class 'str'>
<class 'str'>

In [42]:
greeting = 'Hello'

#### Length of
`len(string)`: returns the number of characters in a string

In [43]:
print(len(greeting))  # Length of the string

5

#### String Multiplication

In [44]:
print(greeting * 3)  # Repeat the string three times

HelloHelloHello

## String Indexing
`string[index]`: returns the character at the specified index

In [45]:
fruit = "Mangosteen"
print(fruit[0])  # First character

M

In [46]:
print(fruit[10])

IndexError: string index out of range

In [47]:
"System".index("y")

1

In [48]:
"System".index("z") # Raises ValueError if character not found

ValueError: substring not found

In [49]:
plural_system = "Systems"
plural_system.index("s")

2

## Check whether a string has a specific substring
`if substring in string:`: checks if a substring is present in a string

In [50]:
pets="Cats & Dogs"
print("Dragons" in pets)
print("Cats" in pets)

False
True

## Looping over a String
print out the characters in the string
`for character in string:`: iterates over each character in the string

In [51]:
for char in greeting:
	print(char)

H
e
l
l
o

In [52]:
index = 0
while index < len(greeting):
	print(greeting[index])
	index += 1

H
e
l
l
o

## Slicing Strings
`string[start:end]`: returns a substring from the start index (inclusive) to the end index (exclusive)

In [53]:
new_greeting = "Greetings, Earthlings"
print(new_greeting[0:2])  # First two characters

Gr

In [54]:
print(new_greeting[2:])  # From the third character to the end

eetings, Earthlings

In [55]:
print(new_greeting[:3])  # Up to the third character

Gre

In [56]:
print(new_greeting[-10:])  # Last ten characters

Earthlings

In [57]:
print(new_greeting[55:])

In [58]:
print(new_greeting[0::2]) # Every second character

Getns atlns

In [59]:
print(new_greeting[::-1]) # Reverse the string

sgnilhtraE ,sgniteerG

In [60]:
index = 0
while index < len(greeting):
    print(greeting[index:index+1])
    index += 1

H
e
l
l
o

## Creating/Modifying New Strings
strings are immutable; but you can re assign a new value to the variable

In [61]:
message = "A kong string with a silly typo"
message[2] = "l"

TypeError: 'str' object does not support item assignment

In [62]:
message = "A kong string with a silly typo"
new_message = message[0:2] + "l" + message[3:]
print(new_message)

A long string with a silly typo

## join() & split()
- `delimiter.join(iterable)`: joins elements of an iterable (like a list) into a string with the specified delimiter
- `string.split()`: splits a string into a list of substrings based on whitespace (can be a tab, space or new line)
- `string.split(delimiter)`: splits a string into a list of substrings based on the specified delimiter

In [63]:
greetings_list = ["Hello", "world"]
print(" ".join(greetings_list))

Hello world

In [64]:
m = "This is another example"
print(m.split())  # Split by space
print(m.split("is"))  # Split by "is"

['This', 'is', 'another', 'example']
['Th', ' ', ' another example']

## String Concatenation

In [65]:
num1 = 1
num2 = 2
sum = num1 + num2
print("The sum of ", num1, " and ", num2, " is ", sum) # Using commas

The sum of  1  and  2  is  3

In [66]:
print("The sum of " + str(num1) + " and " + str(num2) + " is " + str(sum)) # Using string concatenation

The sum of 1 and 2 is 3

In [67]:
def countdown(start):
    x = start
    if x > 0:
        return_string = "Counting down to 0: "
        while x >= 0: # Complete the while loop
            return_string += str(x) # Add the numbers to the "return_string"
            if x > 0:
                return_string += ","
            x -= 1 # Decrement the appropriate variable
    else:
        return_string = "Cannot count down to 0"
    return return_string


print(countdown(10)) # Should be "Counting down to 0: 10,9,8,7,6,5,4,3,2,1,0"
print(countdown(2)) # Should be "Counting down to 0: 2,1,0"
print(countdown(0)) # Should be "Cannot count down to 0"

Counting down to 0: 10,9,8,7,6,5,4,3,2,1,0
Counting down to 0: 2,1,0
Cannot count down to 0

## Strip trailing / leading whitespaces
`string.strip()`: removes leading and trailing whitespace
`string.lstrip()`: removes leading whitespace
`string.rstrip()`: removes trailing whitespace

In [68]:
def even_numbers(maximum):

    return_string = "" # Initializes variable as a string

    # Complete the for loop with a range that includes all even numbers
    # up to and including the "maximum" value, but excluding 0.
    for i in range(2, maximum+1, 2):

        # Complete the body of the loop by appending the even number
        # followed by a space to the "return_string" variable.
        return_string += str(i) + " "

    # This .strip command will remove the final " " space at the end of
    # the "return_string".
    return return_string.strip()

print(even_numbers(6))  # Should be 2 4 6
print(even_numbers(10)) # Should be 2 4 6 8 10
print(even_numbers(1))  # No numbers displayed
print(even_numbers(3))  # Should be 2
print(even_numbers(0))  # No numbers displayed

2 4 6
2 4 6 8 10

2

In [69]:
yes = "   yes  "
print(yes.strip()) # Removes leading and trailing whitespace
print(yes.lstrip()) # Removes leading whitespace
print(yes.rstrip()) # Removes trailing whitespace

yes
yes
   yes

## Uppercase and Lowercase
`string.upper()` and `string.lower()`: convert the string to uppercase or lowercase

In [70]:
print("Mountains".upper())
print("Mountains".lower())

MOUNTAINS
mountains

## count(): Count occurrences of a substring in a string
`string.count(substring)`: counts how many times a substring appears in the string

In [71]:
print("The number of times e occurs in this string is 4".count("e"))

4

## endsWith() and startsWith()

In [72]:
print("Mountains".endswith("ains"))  # True
print("Mountains".startswith("Moun"))  # True

True
True

## isnumeric()
`string.isnumeric()`: checks if all characters in the string are numeric

In [73]:
print("123".isnumeric())  # True
print("123abc".isnumeric())  # False
print("-123.45".isnumeric())  # False (negative sign and decimal point are not numeric characters)

True
False
False

## isalpha()
`string.isalpha()`: checks if all characters in the string are alphabetic (only letters)

In [74]:
print("xyzzy".isalpha())  # True
print("xyzzy123".isalpha())  # False (contains numbers)
print("xyzzy!".isalpha())  # False (contains punctuation)

True
False
False

## replace()
`string.replace(old, new)`: replaces occurrences of a substring with another substring

In [75]:
test = "How much wood would a woodchuck chuck"
print(test.replace("wood", "plastic"))

How much plastic would a plasticchuck chuck

## convert to int

In [76]:
print(int("12345") + int("54321"))

66666

# Formatting Strings
| Formatting expressions | Meaning                                      | Example                                      |
|------------------------|----------------------------------------------|----------------------------------------------|
| {:d}                   | integer value                                | "{0:.0f}".format(10.5) → '10'              |
| {:.2f}                 | floating point with that many decimals      | '{:.2f}'.format(0.5) → '0.50'              |
| {:.2s}                 | string with that many characters             | '{:.2s}'.format('Python') → 'Py'            |
| {:<6s}                 | string aligned to the left that many spaces  | '{:<6s}'.format('Py') → 'Py '               |
| {:>6s}                 | string aligned to the right that many spaces | '{:>6s}'.format('Py') → ' Py'               |
| {:^6s}                 | string centered in that many spaces          | '{:^6s}'.format('Py') → ' Py '              |

In [77]:
name = "Manny"
number = len(name) * 3
print("Hello {}, your lucky number is {}".format(name, number))

Hello Manny, your lucky number is 15

In [78]:
name = "Manny"
print("Your lucky number is {number}, {name}.".format(name=name, number=len(name)*3))

Your lucky number is 15, Manny.

In [79]:
price = 7.5
with_tax = price * 1.09
print(price, with_tax)
print("Base price: ${:.2f}. With Tax: ${:.2f}".format(price, with_tax))
# the colon : is used to separate the formatting from the variable name
# f represents it is a floating point number
# .2 indicates that there should be 2 digits after the decimal point (dot)

7.5 8.175
Base price: $7.50. With Tax: $8.18

In [80]:
def to_celsius(x):
  return (x-32)*5/9

for x in range(0,101,10):
  print("{:>3} F | {:>6.2f} C".format(x, to_celsius(x)))
  # {:>3} means right align the number in a field of width 3
  # {:>6.2f} means right align the number in a field of width 6, with 2 digits after the decimal point

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C

## Using `,` comma as a thousands separator

In [81]:
basket = [
    ("Peaches", 3.0, 2.99),
    ("Pears", 5.0, 1.66),
    ("Plums", 2.5, 3.99)
]

subtotal = 0.00
for item in basket:
    fruit, weight, unit_price = item
    subtotal += (weight * unit_price)

tax_rate = 0.06625
tax_amt = subtotal * tax_rate
total = subtotal + tax_amt

print("Subtotal:         $ {:10,.2f}".format(subtotal))
# :10 means right align the number in a field of width 10
# , means use a comma as a thousands separator
print("Sales Tax:        $ {:10,.2f}".format(tax_amt))
print("Total:            $ {:10,.2f}".format(total))

Subtotal:         $      27.25
Sales Tax:        $       1.80
Total:            $      29.05

# f-strings: Formatted string literals
string that starts with `f` or `F` before the opening quote

#### Difference: f-strings & str.format() method
f-strings take the value of the variables from the current context, insdtead of taking the values from parameters

In [82]:
name = "Micah"
print(f"Hello {name}, your lucky number is {len(name) * 3}")

Hello Micah, your lucky number is 15

In [83]:
item = "Purple Cup"
amount = 5
price = amount * 3.25
print(f'Item: {item} - Amount: {amount} - Price: {price:.2f}')

Item: Purple Cup - Amount: 5 - Price: 16.25

# Old Sting formatting [not recommended to use]

In [84]:
variable = "modulo"
print("base string with %s placeholder" % variable)

base string with modulo placeholder

In [85]:
value1 = 10
value2 = 20
"base string with %d and %d placeholders" % (value1, value2)

'base string with 10 and 20 placeholders'

In [86]:
print("%(var1)d %(var2)d" % {"var1":value1, "var2":value2})

10 20

In [87]:
item = "Blue Mug"
amount = 3
price = 2.99
"Item: %s - Amount: %d - Price: %.2f" % (item, amount, price)

'Item: Blue Mug - Amount: 3 - Price: 2.99'