# Pandas loc and iloc
`loc`: label based
- you have to specify rows and columns based on their row and column labels

`iloc`: integer position based
- you have to specify rows and columns by their integer position values (0 based integer position)

In [1]:
import pandas as pd
df = pd.read_csv('data_weather_day_based.csv', index_col=['Day'])
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

## Selecting a single value

In [2]:
# Friday temperature
df.loc['Fri', 'Temperature']

10.51

In [3]:
df.iloc[4, 1]

10.51

## Selecting all rows of a single column

In [4]:
df.loc[:, 'Temperature']

Day
Mon    12.79
Tue    19.67
Wed    17.51
Thu    14.44
Fri    10.51
Sat    11.07
Sun    17.50
Name: Temperature, dtype: float64

In [5]:
df.iloc[:, 1]

Day
Mon    12.79
Tue    19.67
Wed    17.51
Thu    14.44
Fri    10.51
Sat    11.07
Sun    17.50
Name: Temperature, dtype: float64

## Selecting a row and all columns

In [6]:
df.loc['Fri', :]

Weather        Shower
Temperature     10.51
Wind               26
Humidity           79
Name: Fri, dtype: object

In [7]:
df.iloc[4, :]

Weather        Shower
Temperature     10.51
Wind               26
Humidity           79
Name: Fri, dtype: object

# Selecting multiple selected rows

In [8]:
df.loc[['Fri', 'Sun'], 'Temperature']

Day
Fri    10.51
Sun    17.50
Name: Temperature, dtype: float64

In [9]:
df.iloc[[4, 6], 1]

Day
Fri    10.51
Sun    17.50
Name: Temperature, dtype: float64

## Selecting multiple selected columns

In [10]:
df.loc['Fri', ['Temperature', 'Wind']]

Temperature    10.51
Wind              26
Name: Fri, dtype: object

In [11]:
df.iloc[4, [1, 2]]

Temperature    10.51
Wind              26
Name: Fri, dtype: object

## Multiple selected rows and columns

In [12]:
df.loc[['Fri', 'Sun'], ['Temperature', 'Wind']]

     Temperature  Wind
Day
Fri        10.51    26
Sun        17.50    20

In [13]:
df.iloc[[4, 6], [1, 2]]

     Temperature  Wind
Day
Fri        10.51    26
Sun        17.50    20

## Slicing

In [14]:
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [15]:
df.loc['Mon':'Wed', 'Temperature':'Wind']

     Temperature  Wind
Day
Mon        12.79    13
Tue        19.67    28
Wed        17.51    16

In [16]:
df.iloc[0:3, 1:3]

     Temperature  Wind
Day
Mon        12.79    13
Tue        19.67    28
Wed        17.51    16

### Slicing with step

In [17]:
df.loc['Mon':'Fri':2, 'Temperature':'Wind']

     Temperature  Wind
Day
Mon        12.79    13
Wed        17.51    16
Fri        10.51    26

In [18]:
df.iloc[0:5:2, 1:3]

     Temperature  Wind
Day
Mon        12.79    13
Wed        17.51    16
Fri        10.51    26

## Selecting via conditions and callable

### Selecting via conditions

In [19]:
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [20]:
df.loc[df.Humidity > 50, :]

    Weather  Temperature  Wind  Humidity
Day
Tue   Sunny        19.67    28        96
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62

In [21]:
df.loc[(df.Humidity > 50) & (df.Weather == 'Shower'), ['Temperature','Wind']]

     Temperature  Wind
Day
Fri        10.51    26
Sat        11.07    27

In [22]:
# Value error
df.iloc[(df.Humidity > 50) & (df.Weather == 'Shower'), [1, 2]]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [23]:
df.iloc[list((df.Humidity > 50) & (df.Weather == 'Shower')), [1, 2]]

     Temperature  Wind
Day
Fri        10.51    26
Sat        11.07    27

### Selecting via callable

#### Selecting columns

In [24]:
df.loc[:, lambda df: ['Temperature', 'Wind']]

     Temperature  Wind
Day
Mon        12.79    13
Tue        19.67    28
Wed        17.51    16
Thu        14.44    11
Fri        10.51    26
Sat        11.07    27
Sun        17.50    20

In [25]:
df.iloc[lambda df: [0, 1], :]

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96

#### With condition

In [26]:
df.loc[lambda df: df.Humidity > 50, :]

    Weather  Temperature  Wind  Humidity
Day
Tue   Sunny        19.67    28        96
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62

In [27]:
df.iloc[lambda df: list(df.Humidity > 50), :]

    Weather  Temperature  Wind  Humidity
Day
Tue   Sunny        19.67    28        96
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62